MAIN/IntegrationConsole/IntegrationConsole/Service References/TIPWebIT/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hayessoft.com/webservices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hayessoft.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hayessoft.com/webservices">
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roomNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchRoomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchStudentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Issue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IssueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IssueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuickCollect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuickCollectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuickCollectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuickCollectToRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roomNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuickCollectToRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuickCollectToRoomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogOnResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOff">
        <s:complexType />
      </s:element>
      <s:element name="LogOffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogOffResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSAPToTIPWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BUKRS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="INVZU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ANLKL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TXK20" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TXT50" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WERKS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STORT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NAME1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RAUMN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SERNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ANLN1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ANLN2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HERST" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TYPBZ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ORD43" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="INVNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GSBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KOSTL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GEBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FKBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KANSW" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZUGDT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MENGE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KFZKZ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AKTIV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YR_PERIOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IVDAT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GDLGRP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PSPNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DEAKT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GPLAB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BWASL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KTEXT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSAPToTIPWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSAPToTIPWebResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExternalBulkUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExternalBulkUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExternalBulkUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferComponentToNewParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newParentTag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="componentTag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferComponentToNewParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransferComponentToNewParentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferAllComponentsToNewParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldParentTag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newParentTag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferAllComponentsToNewParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransferAllComponentsToNewParentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveComponent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="componentTag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveComponentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveComponentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferComponentValidTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentTag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="componentTag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferComponentValidTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransferComponentValidTagResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferAllComponentValidTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newParentTag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldParentTag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransferAllComponentValidTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransferAllComponentValidTagResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="anyType" nillable="true" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchRoomSoapIn">
    <wsdl:part name="parameters" element="tns:SearchRoom" />
  </wsdl:message>
  <wsdl:message name="SearchRoomSoapOut">
    <wsdl:part name="parameters" element="tns:SearchRoomResponse" />
  </wsdl:message>
  <wsdl:message name="SearchStudentSoapIn">
    <wsdl:part name="parameters" element="tns:SearchStudent" />
  </wsdl:message>
  <wsdl:message name="SearchStudentSoapOut">
    <wsdl:part name="parameters" element="tns:SearchStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IssueSoapIn">
    <wsdl:part name="parameters" element="tns:Issue" />
  </wsdl:message>
  <wsdl:message name="IssueSoapOut">
    <wsdl:part name="parameters" element="tns:IssueResponse" />
  </wsdl:message>
  <wsdl:message name="QuickCollectSoapIn">
    <wsdl:part name="parameters" element="tns:QuickCollect" />
  </wsdl:message>
  <wsdl:message name="QuickCollectSoapOut">
    <wsdl:part name="parameters" element="tns:QuickCollectResponse" />
  </wsdl:message>
  <wsdl:message name="QuickCollectToRoomSoapIn">
    <wsdl:part name="parameters" element="tns:QuickCollectToRoom" />
  </wsdl:message>
  <wsdl:message name="QuickCollectToRoomSoapOut">
    <wsdl:part name="parameters" element="tns:QuickCollectToRoomResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="LogOnSoapIn">
    <wsdl:part name="parameters" element="tns:LogOn" />
  </wsdl:message>
  <wsdl:message name="LogOnSoapOut">
    <wsdl:part name="parameters" element="tns:LogOnResponse" />
  </wsdl:message>
  <wsdl:message name="LogOffSoapIn">
    <wsdl:part name="parameters" element="tns:LogOff" />
  </wsdl:message>
  <wsdl:message name="LogOffSoapOut">
    <wsdl:part name="parameters" element="tns:LogOffResponse" />
  </wsdl:message>
  <wsdl:message name="GetSearchSoapIn">
    <wsdl:part name="parameters" element="tns:GetSearch" />
  </wsdl:message>
  <wsdl:message name="GetSearchSoapOut">
    <wsdl:part name="parameters" element="tns:GetSearchResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSAPToTIPWebSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSAPToTIPWeb" />
  </wsdl:message>
  <wsdl:message name="UpdateSAPToTIPWebSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSAPToTIPWebResponse" />
  </wsdl:message>
  <wsdl:message name="ExternalBulkUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:ExternalBulkUpdate" />
  </wsdl:message>
  <wsdl:message name="ExternalBulkUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:ExternalBulkUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="TransferComponentToNewParentSoapIn">
    <wsdl:part name="parameters" element="tns:TransferComponentToNewParent" />
  </wsdl:message>
  <wsdl:message name="TransferComponentToNewParentSoapOut">
    <wsdl:part name="parameters" element="tns:TransferComponentToNewParentResponse" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentsToNewParentSoapIn">
    <wsdl:part name="parameters" element="tns:TransferAllComponentsToNewParent" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentsToNewParentSoapOut">
    <wsdl:part name="parameters" element="tns:TransferAllComponentsToNewParentResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveComponentSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveComponent" />
  </wsdl:message>
  <wsdl:message name="RemoveComponentSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveComponentResponse" />
  </wsdl:message>
  <wsdl:message name="TransferComponentValidTagSoapIn">
    <wsdl:part name="parameters" element="tns:TransferComponentValidTag" />
  </wsdl:message>
  <wsdl:message name="TransferComponentValidTagSoapOut">
    <wsdl:part name="parameters" element="tns:TransferComponentValidTagResponse" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentValidTagSoapIn">
    <wsdl:part name="parameters" element="tns:TransferAllComponentValidTag" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentValidTagSoapOut">
    <wsdl:part name="parameters" element="tns:TransferAllComponentValidTagResponse" />
  </wsdl:message>
  <wsdl:message name="SearchHttpGetIn">
    <wsdl:part name="tag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchRoomHttpGetIn">
    <wsdl:part name="roomNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchRoomHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchStudentHttpGetIn">
    <wsdl:part name="studentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchStudentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IssueHttpGetIn">
    <wsdl:part name="studentID" type="s:string" />
    <wsdl:part name="tag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IssueHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QuickCollectHttpGetIn">
    <wsdl:part name="tag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QuickCollectHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QuickCollectToRoomHttpGetIn">
    <wsdl:part name="tag" type="s:string" />
    <wsdl:part name="roomNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QuickCollectToRoomHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogOnHttpGetIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogOnHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogOffHttpGetIn" />
  <wsdl:message name="LogOffHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetSearchHttpGetIn">
    <wsdl:part name="search" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSearchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSAPToTIPWebHttpGetIn">
    <wsdl:part name="BUKRS" type="s:string" />
    <wsdl:part name="INVZU" type="s:string" />
    <wsdl:part name="ANLKL" type="s:string" />
    <wsdl:part name="TXK20" type="s:string" />
    <wsdl:part name="TXT50" type="s:string" />
    <wsdl:part name="WERKS" type="s:string" />
    <wsdl:part name="STORT" type="s:string" />
    <wsdl:part name="NAME1" type="s:string" />
    <wsdl:part name="RAUMN" type="s:string" />
    <wsdl:part name="SERNR" type="s:string" />
    <wsdl:part name="ANLN1" type="s:string" />
    <wsdl:part name="ANLN2" type="s:string" />
    <wsdl:part name="HERST" type="s:string" />
    <wsdl:part name="TYPBZ" type="s:string" />
    <wsdl:part name="ORD43" type="s:string" />
    <wsdl:part name="INVNR" type="s:string" />
    <wsdl:part name="GSBER" type="s:string" />
    <wsdl:part name="KOSTL" type="s:string" />
    <wsdl:part name="GEBER" type="s:string" />
    <wsdl:part name="FKBER" type="s:string" />
    <wsdl:part name="KANSW" type="s:string" />
    <wsdl:part name="ZUGDT" type="s:string" />
    <wsdl:part name="MENGE" type="s:string" />
    <wsdl:part name="KFZKZ" type="s:string" />
    <wsdl:part name="AKTIV" type="s:string" />
    <wsdl:part name="YR_PERIOD" type="s:string" />
    <wsdl:part name="IVDAT" type="s:string" />
    <wsdl:part name="GDLGRP" type="s:string" />
    <wsdl:part name="PSPNR" type="s:string" />
    <wsdl:part name="DEAKT" type="s:string" />
    <wsdl:part name="GPLAB" type="s:string" />
    <wsdl:part name="BWASL" type="s:string" />
    <wsdl:part name="KTEXT" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSAPToTIPWebHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ExternalBulkUpdateHttpGetIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExternalBulkUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TransferComponentToNewParentHttpGetIn">
    <wsdl:part name="newParentTag" type="s:string" />
    <wsdl:part name="componentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferComponentToNewParentHttpGetOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentsToNewParentHttpGetIn">
    <wsdl:part name="oldParentTag" type="s:string" />
    <wsdl:part name="newParentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentsToNewParentHttpGetOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="RemoveComponentHttpGetIn">
    <wsdl:part name="componentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveComponentHttpGetOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="TransferComponentValidTagHttpGetIn">
    <wsdl:part name="parentTag" type="s:string" />
    <wsdl:part name="componentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferComponentValidTagHttpGetOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentValidTagHttpGetIn">
    <wsdl:part name="newParentTag" type="s:string" />
    <wsdl:part name="oldParentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentValidTagHttpGetOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="SearchHttpPostIn">
    <wsdl:part name="tag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchRoomHttpPostIn">
    <wsdl:part name="roomNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchRoomHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchStudentHttpPostIn">
    <wsdl:part name="studentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchStudentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IssueHttpPostIn">
    <wsdl:part name="studentID" type="s:string" />
    <wsdl:part name="tag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IssueHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QuickCollectHttpPostIn">
    <wsdl:part name="tag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QuickCollectHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QuickCollectToRoomHttpPostIn">
    <wsdl:part name="tag" type="s:string" />
    <wsdl:part name="roomNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QuickCollectToRoomHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogOnHttpPostIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogOnHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogOffHttpPostIn" />
  <wsdl:message name="LogOffHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetSearchHttpPostIn">
    <wsdl:part name="search" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSearchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSAPToTIPWebHttpPostIn">
    <wsdl:part name="BUKRS" type="s:string" />
    <wsdl:part name="INVZU" type="s:string" />
    <wsdl:part name="ANLKL" type="s:string" />
    <wsdl:part name="TXK20" type="s:string" />
    <wsdl:part name="TXT50" type="s:string" />
    <wsdl:part name="WERKS" type="s:string" />
    <wsdl:part name="STORT" type="s:string" />
    <wsdl:part name="NAME1" type="s:string" />
    <wsdl:part name="RAUMN" type="s:string" />
    <wsdl:part name="SERNR" type="s:string" />
    <wsdl:part name="ANLN1" type="s:string" />
    <wsdl:part name="ANLN2" type="s:string" />
    <wsdl:part name="HERST" type="s:string" />
    <wsdl:part name="TYPBZ" type="s:string" />
    <wsdl:part name="ORD43" type="s:string" />
    <wsdl:part name="INVNR" type="s:string" />
    <wsdl:part name="GSBER" type="s:string" />
    <wsdl:part name="KOSTL" type="s:string" />
    <wsdl:part name="GEBER" type="s:string" />
    <wsdl:part name="FKBER" type="s:string" />
    <wsdl:part name="KANSW" type="s:string" />
    <wsdl:part name="ZUGDT" type="s:string" />
    <wsdl:part name="MENGE" type="s:string" />
    <wsdl:part name="KFZKZ" type="s:string" />
    <wsdl:part name="AKTIV" type="s:string" />
    <wsdl:part name="YR_PERIOD" type="s:string" />
    <wsdl:part name="IVDAT" type="s:string" />
    <wsdl:part name="GDLGRP" type="s:string" />
    <wsdl:part name="PSPNR" type="s:string" />
    <wsdl:part name="DEAKT" type="s:string" />
    <wsdl:part name="GPLAB" type="s:string" />
    <wsdl:part name="BWASL" type="s:string" />
    <wsdl:part name="KTEXT" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSAPToTIPWebHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ExternalBulkUpdateHttpPostIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="pass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExternalBulkUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TransferComponentToNewParentHttpPostIn">
    <wsdl:part name="newParentTag" type="s:string" />
    <wsdl:part name="componentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferComponentToNewParentHttpPostOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentsToNewParentHttpPostIn">
    <wsdl:part name="oldParentTag" type="s:string" />
    <wsdl:part name="newParentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentsToNewParentHttpPostOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="RemoveComponentHttpPostIn">
    <wsdl:part name="componentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveComponentHttpPostOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="TransferComponentValidTagHttpPostIn">
    <wsdl:part name="parentTag" type="s:string" />
    <wsdl:part name="componentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferComponentValidTagHttpPostOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentValidTagHttpPostIn">
    <wsdl:part name="newParentTag" type="s:string" />
    <wsdl:part name="oldParentTag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TransferAllComponentValidTagHttpPostOut">
    <wsdl:part name="Body" element="tns:anyType" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchRoom">
      <wsdl:input message="tns:SearchRoomSoapIn" />
      <wsdl:output message="tns:SearchRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <wsdl:input message="tns:SearchStudentSoapIn" />
      <wsdl:output message="tns:SearchStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <wsdl:input message="tns:IssueSoapIn" />
      <wsdl:output message="tns:IssueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickCollect">
      <wsdl:input message="tns:QuickCollectSoapIn" />
      <wsdl:output message="tns:QuickCollectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickCollectToRoom">
      <wsdl:input message="tns:QuickCollectToRoomSoapIn" />
      <wsdl:output message="tns:QuickCollectToRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <wsdl:input message="tns:LogOnSoapIn" />
      <wsdl:output message="tns:LogOnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input message="tns:LogOffSoapIn" />
      <wsdl:output message="tns:LogOffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearch">
      <wsdl:input message="tns:GetSearchSoapIn" />
      <wsdl:output message="tns:GetSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSAPToTIPWeb">
      <wsdl:input message="tns:UpdateSAPToTIPWebSoapIn" />
      <wsdl:output message="tns:UpdateSAPToTIPWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExternalBulkUpdate">
      <wsdl:input message="tns:ExternalBulkUpdateSoapIn" />
      <wsdl:output message="tns:ExternalBulkUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferComponentToNewParent">
      <wsdl:input message="tns:TransferComponentToNewParentSoapIn" />
      <wsdl:output message="tns:TransferComponentToNewParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentsToNewParent">
      <wsdl:input message="tns:TransferAllComponentsToNewParentSoapIn" />
      <wsdl:output message="tns:TransferAllComponentsToNewParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveComponent">
      <wsdl:input message="tns:RemoveComponentSoapIn" />
      <wsdl:output message="tns:RemoveComponentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferComponentValidTag">
      <wsdl:input message="tns:TransferComponentValidTagSoapIn" />
      <wsdl:output message="tns:TransferComponentValidTagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentValidTag">
      <wsdl:input message="tns:TransferAllComponentValidTagSoapIn" />
      <wsdl:output message="tns:TransferAllComponentValidTagSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchHttpGetIn" />
      <wsdl:output message="tns:SearchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchRoom">
      <wsdl:input message="tns:SearchRoomHttpGetIn" />
      <wsdl:output message="tns:SearchRoomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <wsdl:input message="tns:SearchStudentHttpGetIn" />
      <wsdl:output message="tns:SearchStudentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <wsdl:input message="tns:IssueHttpGetIn" />
      <wsdl:output message="tns:IssueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickCollect">
      <wsdl:input message="tns:QuickCollectHttpGetIn" />
      <wsdl:output message="tns:QuickCollectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickCollectToRoom">
      <wsdl:input message="tns:QuickCollectToRoomHttpGetIn" />
      <wsdl:output message="tns:QuickCollectToRoomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateHttpGetIn" />
      <wsdl:output message="tns:AuthenticateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <wsdl:input message="tns:LogOnHttpGetIn" />
      <wsdl:output message="tns:LogOnHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input message="tns:LogOffHttpGetIn" />
      <wsdl:output message="tns:LogOffHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearch">
      <wsdl:input message="tns:GetSearchHttpGetIn" />
      <wsdl:output message="tns:GetSearchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSAPToTIPWeb">
      <wsdl:input message="tns:UpdateSAPToTIPWebHttpGetIn" />
      <wsdl:output message="tns:UpdateSAPToTIPWebHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExternalBulkUpdate">
      <wsdl:input message="tns:ExternalBulkUpdateHttpGetIn" />
      <wsdl:output message="tns:ExternalBulkUpdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferComponentToNewParent">
      <wsdl:input message="tns:TransferComponentToNewParentHttpGetIn" />
      <wsdl:output message="tns:TransferComponentToNewParentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentsToNewParent">
      <wsdl:input message="tns:TransferAllComponentsToNewParentHttpGetIn" />
      <wsdl:output message="tns:TransferAllComponentsToNewParentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveComponent">
      <wsdl:input message="tns:RemoveComponentHttpGetIn" />
      <wsdl:output message="tns:RemoveComponentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferComponentValidTag">
      <wsdl:input message="tns:TransferComponentValidTagHttpGetIn" />
      <wsdl:output message="tns:TransferComponentValidTagHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentValidTag">
      <wsdl:input message="tns:TransferAllComponentValidTagHttpGetIn" />
      <wsdl:output message="tns:TransferAllComponentValidTagHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchHttpPostIn" />
      <wsdl:output message="tns:SearchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchRoom">
      <wsdl:input message="tns:SearchRoomHttpPostIn" />
      <wsdl:output message="tns:SearchRoomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <wsdl:input message="tns:SearchStudentHttpPostIn" />
      <wsdl:output message="tns:SearchStudentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <wsdl:input message="tns:IssueHttpPostIn" />
      <wsdl:output message="tns:IssueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickCollect">
      <wsdl:input message="tns:QuickCollectHttpPostIn" />
      <wsdl:output message="tns:QuickCollectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QuickCollectToRoom">
      <wsdl:input message="tns:QuickCollectToRoomHttpPostIn" />
      <wsdl:output message="tns:QuickCollectToRoomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateHttpPostIn" />
      <wsdl:output message="tns:AuthenticateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <wsdl:input message="tns:LogOnHttpPostIn" />
      <wsdl:output message="tns:LogOnHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input message="tns:LogOffHttpPostIn" />
      <wsdl:output message="tns:LogOffHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearch">
      <wsdl:input message="tns:GetSearchHttpPostIn" />
      <wsdl:output message="tns:GetSearchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSAPToTIPWeb">
      <wsdl:input message="tns:UpdateSAPToTIPWebHttpPostIn" />
      <wsdl:output message="tns:UpdateSAPToTIPWebHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExternalBulkUpdate">
      <wsdl:input message="tns:ExternalBulkUpdateHttpPostIn" />
      <wsdl:output message="tns:ExternalBulkUpdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferComponentToNewParent">
      <wsdl:input message="tns:TransferComponentToNewParentHttpPostIn" />
      <wsdl:output message="tns:TransferComponentToNewParentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentsToNewParent">
      <wsdl:input message="tns:TransferAllComponentsToNewParentHttpPostIn" />
      <wsdl:output message="tns:TransferAllComponentsToNewParentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveComponent">
      <wsdl:input message="tns:RemoveComponentHttpPostIn" />
      <wsdl:output message="tns:RemoveComponentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferComponentValidTag">
      <wsdl:input message="tns:TransferComponentValidTagHttpPostIn" />
      <wsdl:output message="tns:TransferComponentValidTagHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentValidTag">
      <wsdl:input message="tns:TransferAllComponentValidTagHttpPostIn" />
      <wsdl:output message="tns:TransferAllComponentValidTagHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://hayessoft.com/webservices/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRoom">
      <soap:operation soapAction="http://hayessoft.com/webservices/SearchRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <soap:operation soapAction="http://hayessoft.com/webservices/SearchStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <soap:operation soapAction="http://hayessoft.com/webservices/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickCollect">
      <soap:operation soapAction="http://hayessoft.com/webservices/QuickCollect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickCollectToRoom">
      <soap:operation soapAction="http://hayessoft.com/webservices/QuickCollectToRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://hayessoft.com/webservices/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <soap:operation soapAction="http://hayessoft.com/webservices/LogOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap:operation soapAction="http://hayessoft.com/webservices/LogOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearch">
      <soap:operation soapAction="http://hayessoft.com/webservices/GetSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSAPToTIPWeb">
      <soap:operation soapAction="http://hayessoft.com/webservices/UpdateSAPToTIPWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExternalBulkUpdate">
      <soap:operation soapAction="http://hayessoft.com/webservices/ExternalBulkUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferComponentToNewParent">
      <soap:operation soapAction="http://hayessoft.com/webservices/TransferComponentToNewParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentsToNewParent">
      <soap:operation soapAction="http://hayessoft.com/webservices/TransferAllComponentsToNewParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveComponent">
      <soap:operation soapAction="http://hayessoft.com/webservices/RemoveComponent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferComponentValidTag">
      <soap:operation soapAction="http://hayessoft.com/webservices/TransferComponentValidTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentValidTag">
      <soap:operation soapAction="http://hayessoft.com/webservices/TransferAllComponentValidTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://hayessoft.com/webservices/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRoom">
      <soap12:operation soapAction="http://hayessoft.com/webservices/SearchRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <soap12:operation soapAction="http://hayessoft.com/webservices/SearchStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <soap12:operation soapAction="http://hayessoft.com/webservices/Issue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickCollect">
      <soap12:operation soapAction="http://hayessoft.com/webservices/QuickCollect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickCollectToRoom">
      <soap12:operation soapAction="http://hayessoft.com/webservices/QuickCollectToRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://hayessoft.com/webservices/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <soap12:operation soapAction="http://hayessoft.com/webservices/LogOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap12:operation soapAction="http://hayessoft.com/webservices/LogOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearch">
      <soap12:operation soapAction="http://hayessoft.com/webservices/GetSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSAPToTIPWeb">
      <soap12:operation soapAction="http://hayessoft.com/webservices/UpdateSAPToTIPWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExternalBulkUpdate">
      <soap12:operation soapAction="http://hayessoft.com/webservices/ExternalBulkUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferComponentToNewParent">
      <soap12:operation soapAction="http://hayessoft.com/webservices/TransferComponentToNewParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentsToNewParent">
      <soap12:operation soapAction="http://hayessoft.com/webservices/TransferAllComponentsToNewParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveComponent">
      <soap12:operation soapAction="http://hayessoft.com/webservices/RemoveComponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferComponentValidTag">
      <soap12:operation soapAction="http://hayessoft.com/webservices/TransferComponentValidTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentValidTag">
      <soap12:operation soapAction="http://hayessoft.com/webservices/TransferAllComponentValidTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Search">
      <http:operation location="/Search" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRoom">
      <http:operation location="/SearchRoom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <http:operation location="/SearchStudent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <http:operation location="/Issue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickCollect">
      <http:operation location="/QuickCollect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickCollectToRoom">
      <http:operation location="/QuickCollectToRoom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <http:operation location="/LogOn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <http:operation location="/LogOff" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearch">
      <http:operation location="/GetSearch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSAPToTIPWeb">
      <http:operation location="/UpdateSAPToTIPWeb" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExternalBulkUpdate">
      <http:operation location="/ExternalBulkUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferComponentToNewParent">
      <http:operation location="/TransferComponentToNewParent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentsToNewParent">
      <http:operation location="/TransferAllComponentsToNewParent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveComponent">
      <http:operation location="/RemoveComponent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferComponentValidTag">
      <http:operation location="/TransferComponentValidTag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentValidTag">
      <http:operation location="/TransferAllComponentValidTag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Search">
      <http:operation location="/Search" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRoom">
      <http:operation location="/SearchRoom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStudent">
      <http:operation location="/SearchStudent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <http:operation location="/Issue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickCollect">
      <http:operation location="/QuickCollect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuickCollectToRoom">
      <http:operation location="/QuickCollectToRoom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <http:operation location="/LogOn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <http:operation location="/LogOff" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearch">
      <http:operation location="/GetSearch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSAPToTIPWeb">
      <http:operation location="/UpdateSAPToTIPWeb" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExternalBulkUpdate">
      <http:operation location="/ExternalBulkUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferComponentToNewParent">
      <http:operation location="/TransferComponentToNewParent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentsToNewParent">
      <http:operation location="/TransferAllComponentsToNewParent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveComponent">
      <http:operation location="/RemoveComponent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferComponentValidTag">
      <http:operation location="/TransferComponentValidTag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferAllComponentValidTag">
      <http:operation location="/TransferAllComponentValidTag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost/TIPWebIT/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost/TIPWebIT/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://localhost/TIPWebIT/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://localhost/TIPWebIT/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>